.Adminlog{
    background-color: whitesmoke;
      background-size: cover; /* Optional: Adjust as needed */
       background-position: center; /* Optional: Adjust as needed */
        background-repeat: no-repeat; /* Optional: Prevent repetition */
        height: 100vh; /* Example: Fu */
}